@use "@/styles/mixins";

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  @include mixins.isLargeMobile {}
}

.secondary-heading {
  font-size: 3em;
  font-weight: lighter;
  transform: translateY(-100%);
  @include mixins.isLargeMobile {
    font-size: 4.8em;
  }
}
