@use "@/styles/mixins";

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  @include mixins.isLargeMobile {
    width: 60%;
    padding: 0;
  }
}