@use "@/styles/mixins";

.wrapper {
  margin: 0 0 20px 0;
  @include mixins.isLargeMobile {}
}

.title-heading {
  margin: 0 0 5px 0;
  font-size: 2.6em;
  font-weight: lighter;
  text-align: center;
  @include mixins.isLargeMobile {
  }
}

.date {
  font-size: 2em;
  font-weight: lighter;
  text-align: center;
  @include mixins.isLargeMobile {}
}

