@use "@/styles/mixins";

.blog-list-heading {
  margin: 30px 0px 20px;
  font-size: 3em;
  font-weight: lighter;
  @include mixins.aboveLargeMobile {
    font-size: 4em;
  }
}

.all-list-heading {
  @include mixins.aboveLargeMobile {}
}

.category-list-heading {
  @include mixins.aboveLargeMobile {}
}

.is-storybook {
  text-align: center;
}